

<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <%= f.input :name, required: true, label: 'Nombre' %>
  </div>
  <div class="field">
    <%= f.file_field :shield, required: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear equipo' %>
  </div>
<% end %>
