<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to image_tag(team.shield, class: "team_shield"), team%></td>
        <td>Nombre: <%= team.name %> <br>
            Dueño :  <%= team.dueno.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
