<p id="notice"><%= notice %></p>

<%= image_tag @team.shield , class: "team_shield"%>
<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<p>
  <strong>Dueño:</strong>
  <%= @team.dueno.full_name %>
</p>

<% if current_user.id == @team.dueno_id %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end %>
<%= link_to 'Back', teams_path %>
