<div class="teams-stream tile">

<%= image_tag @team.shield , class: "team_shield"%>
<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<p>
  <strong>Dueño:</strong>
  <%= @team.dueno.full_name %>
</p>

<% if current_user == @team.dueno %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end %>
<h2>Jugadores</h2>
 <ol>
   <% @team.users.each do |j| %>
     <%if j.juega == 1%>
       <li> <%= j.name  %></li>
     <%end%> 
   <% end %>
 </ol>
 <h2>Hinchas</h2>
 <ol>
   <% @team.users.each do |j| %>
     <%if j.juega == 0%>
       <li> <%= j.name  %></li>
     <%end%> 
   <% end %>
 </ol>
  
<%= link_to 'Back', teams_path %>
</div>
