<li class="publication-stream-item tile">
  <div class="publication-content">
      <% if publication.image.url != "/images/original/missing.png" %>
        <%= image_tag(publication.image, class: "publication_image") %>
      <% end %>
      <div class="author-info">
        <strong><%= link_to "#{publication.user.full_name}", publication.user %></strong>
        <span class="timestamp">
          posted <%= time_ago_in_words(publication.created_at) %> ago
        </span>
      </div>
      <div class="content">
        <%= publication.content %>
        <div class="publication-btns">
          <% if current_user %>
            <% if publication.user_id == current_user.id %>
              <%= link_to "Editar", edit_publication_path(publication) %>
              <%= link_to "Eliminar", publication_path(publication) , method: :delete,  data: {confirm: "¿Estás seguro?"}%>

          <% end %>
        </div>
      </div>
  </div>

  <div class="publication-comments">
      <% if current_user %>
        <%= form_for([publication, publication.comments.build], remote: true) do |f| %>
          <div class="comment-actions"><%= f.submit 'Comentar'%></div>
          <div class="comment-field">
            <%= f.text_field :content, required: true %>
          </div>
        <% end %>
      <% end %>
    <% if publication.comments.size > 1 %>
      <div class="comments">
          <%= render publication.comments.reverse_order %>
      </div>
    <% end %>
  </div>
</li>
