<li class="publication-stream-item tile">
  <div class="publication-content">
      <% if publication.image.url != "/images/original/missing.png" %>
        <%= image_tag(publication.image, class: "publication_image") %>
      <% end %>
      <div class="author-info">
        <strong><%= link_to "#{publication.user.full_name}", publication.user %></strong>
        <span class="timestamp">
          posted <%= time_ago_in_words(publication.created_at) %> ago
        </span>
      </div>
      <div class="content">
        <%= publication.content %>
      </div>
  </div>

  <div class="publication-comments">
      <%= form_for([publication, publication.comments.build]) do |f| %>
        <div class="comment-actions"><%= f.submit %></div>
        <div class="comment-field">
          <%= f.text_field :content, required: true %>
        </div>
      <% end %>
    <% if publication.comments.size > 1 %>
      <div class="comments">
          <%= render publication.comments.reverse_order %>
      </div>
    <% end %>
  </div>
</li>
