<li class="publication-stream-item">

  <div class="publication-stream-item-left">
    <% if publication.image.url != "/images/original/missing.png" %>
      <%= image_tag(publication.image, class: "publication_image") %>
    <% end %>
    <div class="author-info">
      <span class="publication-author-name">
        <strong><%= link_to "#{publication.user.full_name}", publication.user %></strong>
      </span>
    </div>
    <span class="timestamp">
      Posted <%= time_ago_in_words(publication.created_at) %> ago
    </span>
  </div>

  <div class="publication-stream-item-right">
    <span class="content">
      <%= publication.content %>
    </span>
  </div>

  <div class="publication-stream-comment">
    <%= render publication.comments %>
    <%= link_to 'Comentar', new_publication_comment_path(publication), class: 'btn-custom2' %>
  </div>
</li>
