<div class="profile-info">
  <h1 class="profile-user-name"><%= @user.full_name %></h1>
  <%= link_to 'Edit', edit_user_path(@user), class: 'edit-button' if @user == current_user%>
  <h2 class="profile-user-email"><%= @user.email %></h2>
</div>

<div class="user-activity">
  <div class="publication-stream user">
    <h2>Publicaciones: <%= @user.publications.size %></h2>
    <ol>
      <% @user.publications.each do |p| %>
        <%= render 'publications/preview', publication: p %>
      <% end %>
    </ol>
    <%= link_to 'Nueva Publicación', new_publication_path, class: 'button-custom1' %>
  </div>