<div class="profile-info">
  <h1 class="profile-user-name"><%= @user.full_name %></h1>
  <%= link_to 'Edit', edit_user_path(@user), class: 'edit-button' %>
  <h2 class="profile-user-email"><%= @user.email %></h2>
</div>
<div class="user-activity">
  <div class="publication-stream">
    <h2>Publicaciones: <%= @user.publications.size %></h2>
    <ol>
      <% @user.publications.each do |publication| %>
        <%= render 'publications/preview', publication: publication %>
      <% end %>
    </ol>
  </div>
</div>
