<div class="profile-info">
  <h1 class="profile-user-name"><%= @user.full_name %></h1>
  <%= link_to 'Edit', edit_user_path(@user), class: 'edit-button' if @user == current_user%>
  <h2 class="profile-user-email"><%= @user.email %></h2>
  <%if @user.team%>
    <%if @user.juega == 1%>
      <h2 class="profile-user-team"> Jugador de:
    <%else%>
      <h2 class="profile-user-team"> Hincha de:
    <%end%>
     <%= @user.team.name %></h2>
  <%end%>
</div>

<div class="user-activity">
  <div class="publication-stream user">
    <% if current_user %>
    <div class="new-btn">

        <a>Nueva Publicacion</a>

    </div>
    <div class="form-style tile hidden new">
        <%= render 'pform', publication: Publication.new %>
    </div>
    <br>
  <% end %>
    <ol>
      <% @user.publications.reverse.each do |p| %>
        <%= render 'publications/preview', publication: p %>
      <% end %>
    </ol>
    </div>
</div>
