<%= simple_form_for(@tournament) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :name, required: true, label: 'Nombre' %>
    <p>Seleccione los 6 equipos participantes</p>
    <div class="checkbox">
      <%= f.collection_check_boxes(:team_ids, Team.all, :id, :name) %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Ingresar' %>
  </div>
<% end %>
