<%= simple_form_for(@tournament) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <p>Seleccione los 6 equipos participantes</p>
    <div class="checkbox">
      <%= f.collection_check_boxes(:team_ids, Team.all, :id, :name) %>
    </div>
    <p> usuario </p>
      <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
