
<div class="tile p80">
<%
@grades = Hash.new
@tournament.teams.each do |t|
  @grades[t.name] = 0
end
@tournament.matches.each do |m|
  if m.gana == "Empate"
    @grades[m.visitor.name] =@grades[m.visitor.name] + 1
    @grades[m.local.name] = @grades[m.local.name] + 1
  else
    @grades[m.gana] += 3
  end
end
@grades = @grades.to_a.sort{|x,y| y[1] <=> x[1] }
%>
<%
@goleadores = Hash.new
@tournament.teams.each do |t|
  t.users.where(juega:1).each do |j|
    @goleadores[j.name] = 0
  end
end
@tournament.matches.each do |m|
  m.goals.each do |g|
    @goleadores[g.user.name] += g.cantidad
  end
end
@goleadores = @goleadores.to_a.sort{|x,y| y[1] <=> x[1] }
%>
  <p><strong>Torneo <%= @tournament.name %></strong></p>



<div class="tab">
  <button class="tablinks defaultOpen" data-tab="tweet-stream">Posisicones</button>
  <button class="tablinks" data-tab="user-followers">Goleadores</button>
  <button class="tablinks" data-tab="user-following">Partidos</button>
</div>

<div class="user-activity">
  <div class="tweet-stream tabcontent">
    
  <div class="position-table">
    <h3>Tabla de posiciones</h3>
    <table>
      <thead>
        <tr>
          <th>POS.</th>
          <th>Equipo</th>
          <th>PTS.</th>
        </tr>
      </thead>

      <tbody>
        <% count = 0 %>
        <%@grades.each do |team| %>
          <tr>
            <% count += 1 %>
            <td><%= count %></td>
            <td><%= team[0] %></td>
            <td><%= team[1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>

  <div class="user-followers tabcontent">
    <div class="position-table">
    <h3>Tabla de Goleadores</h3>
    <table>
      <thead>
        <tr>
          <th>POS.</th>
          <th>Jugador</th>
          <th>Goles.</th>
        </tr>
      </thead>

      <tbody>
        <% count = 0 %>
        <%@goleadores.each do |j| %>
          <% if j[1] != 0%>
          <tr>
            <% count += 1 %>
            <td><%= count %></td>
            <td><%= j[0] %></td>
            <td><%= j[1] %></td>
          </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>

  <div class="user-following tabcontent">
    <div class="matches-table">
    <h3>Partidos jugados</h3>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Resultado</th>
          <th>Visitante</th>
          <th>Local</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @tournament.matches.each do |match| %>
          <tr>
            <td><%= match.date %></td>
            <td><%= match.gana %></td>
            <td><%= match.visitor.name %></td>
            <td><%= match.local.name %></td>
            <td><%= link_to 'Show', match %></td>
            <% if current_user == match.tournament.user %>
            <td><%= link_to 'Edit', edit_match_path(match) %></td>
            <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>


  <script>

  $('.tablinks').on('click', function() {
    var link = $(this);
    var tab = $('.' + link.data('tab'));

    // Get all elements with class="tabcontent" and hide them
    $(".tabcontent").each(function() {$(this).hide()});

    // Get all elements with class="tablinks" and remove the class "active"
    $('.tablinks').each(function() {
      $(this).removeClass('active');
    });

    // Show the current tab, and add an "active" class to the button that opened the tab
    tab.show();
    link.addClass('active');
  });
  $('.defaultOpen').click();
}
  </script>


  <%if current_user%>
  <%= link_to 'Edit', edit_tournament_path(@tournament) %> |
  <%end%>
  <%= link_to 'Back', tournaments_path %>
</div>