<%= simple_form_for(@match) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :Fecha %>
    <%= f.input :date, required: true %>
    <br>
    <% if @match.visitor %>
      <%= f.label :Ganador %>
      <%= f.collection_select :ganador_id, Team.where("id = ? or id = ?", @match.visitor_id, @match.local_id), :id, :name %>
      <br>
    <% end %>
    <%= f.label :Visitante %>
    <%= f.collection_select :visitor_id, Team.all, :id, :name %>
    <br>
    <%= f.label :Local %>
    <%= f.collection_select :local_id, Team.all, :id, :name %>
    <br>
    <%= f.label :Torneo %>
    <%= f.collection_select :tournament_id, Tournament.all, :id, :name %>
    <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

