<%= simple_form_for(@match) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.date_field :date, required: true, label: 'Fecha' %>
    <br>
    <%= f.label :Visitante %>
    <%= f.collection_select :visitor_id, Team.all, :id, :name %>
    <br>
    <%= f.label :Local %>
    <%= f.collection_select :local_id, Team.all, :id, :name %>
    <br>
    <%= f.label :Torneo %>
    <%= f.collection_select :tournament_id, Tournament.where(user_id: current_user[:id]), :id, :name %>
    <br>
  </div>

  <div class="actions">
    <%= f.submit 'Ingresar' %>
  </div>
<% end %>
